/*##### GENERAL #####*/
body {
  font-family: 'Roboto';
  margin: 0; }

a {
  text-decoration: none; }

h2 {
  margin-left: 5%; }

/*##### HEADER #####*/
.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 12px; }

/*##### LOCALISATION #####*/
.localisation {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 16px;
  background-color: #eaeaea;
  height: 50px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4); }
  .localisation .fas {
    margin-right: 18px; }

/*##### INFO #####*/
.info {
  padding: 39px;
  background-color: #f6f6f6;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .info__desc {
    text-align: center; }
  .info__btn {
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(355deg, #9356DC 29%, #FF79DA 100%);
    height: 50px;
    width: 218px;
    border-radius: 25px;
    color: white;
    -webkit-box-shadow: 0px 7px 26px -16px black;
    -moz-box-shadow: 0px 7px 26px -16px black;
    box-shadow: 0px 7px 26px -16px black; }

/*##### FONCTIONNEMENT #####*/
.function {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 42px;
  padding-top: 30px; }
  .function h2 {
    align-self: start; }
  .function__cards {
    height: 72px;
    width: 90%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    border-radius: 20px;
    -webkit-box-shadow: 8px 7px 23px -20px black;
    -moz-box-shadow: 8px 7px 23px -20px black;
    box-shadow: 8px 7px 23px -20px black; }
    .function__cards:hover {
      background-color: #f5edff; }
      .function__cards:hover .fas {
        color: #9356DC; }
  .function__number {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: -10px;
    height: 23px;
    width: 23px;
    background-color: #9356DC;
    border-radius: 13px;
    color: white; }
  .function__p {
    margin-left: 10%; }
  .function .fas {
    position: relative;
    left: 10px;
    color: #7e7e7e; }

/*##### RESTAURANT #####*/
.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 46px; }
  .restaurants__all {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; }

.restaurants__cards {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 250px;
  display: flex;
  margin-bottom: 18px;
  border-radius: 12px;
  /*&--img{
      height: 174px;
  }*/ }
  .restaurants__cards a {
    color: black; }
  .restaurants__cards--img img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    object-position: 100% 100%; }
  .restaurants__cards--desc {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 77px;
    padding-left: 10px;
    padding-right: 10px; }
    .restaurants__cards--desc h3 {
      margin: 0;
      padding-top: 18px; }
    .restaurants__cards--desc p {
      margin-top: 0; }
    .restaurants__cards--desc .far {
      position: absolute;
      font-size: 27px;
      top: 30%;
      right: 30px; }

/*##### FOOTER #####*/
footer {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 26px;
  background-color: #353535;
  color: white; }
  footer p {
    font-family: 'Shrikhand'; }
  footer li {
    list-style: none;
    margin-bottom: 10px; }
  footer ul {
    margin: 0;
    padding: 0; }
  footer a {
    color: white; }
  footer .fas {
    margin-right: 10px; }

/*# sourceMappingURL=styles.css.map */
